@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Homepage</title>
</head>
<body>
    <div class="container">
  <div class="jumbotron">
    <h1>Projeto de Estudo - ASP.NET</h1>      
    <p>Este é um projeto para teste usando o MVC na linguagem C#.</p>
  </div>
 
  <ul><strong>Serão usados como exemplo de casos:</strong><hr />
      <li>Cadastro básico de produto.</li>      
      <li>Cadastro básico de pessoa.</li>     
  </ul>
    </div>


   @* @{
        for (int i = 0; i < 10; i++)
        {
            <p>@i</p>
        }
    }*@
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</html>
